<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Update</title>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>
    {{>navbar}}
    <h1>Welcome to Product Upadate</h1>
    <div class="product_form">
        <form action="/admin/products/update" method="post">
            <input type="text" class="product_data" placeholder="Enter the Product Name" name="name" value={{product.name}}> <br>
            <input type="text" class="product_data" placeholder="Enter the Product price" name="price" value={{product.price}}><br>
            <input type="text" class="product_data" placeholder="Enter the Product description" name="description" value={{product.description}}><br>
            <input type="text" class="product_data" placeholder="Enter the Product seller" name="seller" value={{product.seller}}><br>
            <input type="text" class="product_data" placeholder="Enter the Product imageURL" name="imageURL" value={{product.imageURL}}><br>
            <input type="text" class="product_data" placeholder="Enter the Product category" name="category" value={{product.category}}><br>
            <input type="hidden" name="id" value={{product._id}}><br>
            <button class="product_data">Submit</button><br>
        </form>
    </div>
</body>
</html>